:root {
  --text-color: #667085;
  --main-color: #8E2424;
  --title-color: #101828;
}

@font-face {
  font-family: 'Inter' sans-serif;
  src: url('./fonts/inter.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

nav img {
  margin: 2.5px;
}

.links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 2rem;
}

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  color: var(--text-color);
  margin-top: 2.5px;
  font-size: 0.9rem;
}

button#signUp {
  background-color: var(--main-color);
  color: #FFF;
}

header {
  width: 100%;
  text-align: center;
  margin-top: 6em;
}

header p:nth-child(1){
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--main-color)
}

header h1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--title-color);
  line-height: 3.75rem;
  margin-bottom: 2.25rem;
}

header p:nth-child(3){
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--text-color);
  margin-bottom: 6.75rem;
}

.metricas-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  
  
}

.metricas-container h1 {
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--main-color);
  line-height: 4.5rem;
  padding-bottom: 0.75rem;
}

.metricas-container h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: var(--title-color);
  padding-bottom: 8px;
}

.metricas-container p {
  font-weight: 400;
  line-height: 1.5rem;
  width: 17.5rem;
  color: var(--text-color);
  padding-bottom: 6rem;
}

.disclaimer {
  text-align: center;
  margin-top: 6.25rem;
}

.disclaimer span {
  box-sizing: content-box;
  background: rgba(142, 36, 36, 0.05);
  color: var(--main-color);
  border-radius: 16px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1.25rem;
}

.disclaimer h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--title-color);
  margin: 1.25rem auto;
}

.disclaimer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  margin: 0 auto 4rem auto;
}

.disclaimer img {
  width: 80%;
}

.vagas-container {
  display: flex;
  flex-wrap: wrap;
}

.vagas-subtitle h2{
  display: flex;
  color: var(--title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 4em auto 1.5rem auto;
  width: 48rem;
}

.vagas {
  display: flex;
  flex-direction: column;
  border: 1px solid #EAECF0;
  border-radius: 16px;
  max-width: 48rem;
  padding: 24px 24px 28px;
  margin: 0 auto 2rem auto;
  width: 48rem;
  gap: 24px;
}

.titulo-vaga {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--title-color);
}

.informacoes {
  display: flex;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 24px;
}

.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  background: rgba(196, 25, 25, 0.03);
  border-radius: 16px;
  margin: 8em auto;
}

.depoimentos-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-color);
  margin-top: 64px;
  margin-bottom: 32px;
}

.depoimentos h2 {
  max-width: 68rem;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 32px;
}

.depoimentos img {
  margin-bottom: 16px;
}
.nome-depoimentos {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--title-color);
  margin-bottom: 4px;
}

.cargo-depoimentos {
  color: var(--text-color);
  margin-bottom: 64px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9FAFB;
  margin-top: 96px;
  gap: 1.5rem;
  text-align: center;
  padding: 96px 0;
}

footer h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--title-color)
}

footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color)
}

footer input {
  width: 22.5rem;
  height: 48px;
  padding: 12px 14px 12px 16px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

footer button {
  width: 7.25rem;
  height: 48px;
  background: var(--main-color);
  border: 1px solid #8E2424;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 20px;
  margin-left: 1em;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

footer span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #98A2B3;
}